@import '~bootstrap/scss/bootstrap';

.game-title {
  text-align: center;
  font-size: 80px;
}

.container {
  height: 100vh;

}

.board {
  margin: auto;
  height: 100vh;

  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);

  background-color: orange;
}

.box {
  align-items: center;
  border-right: 15px solid red;
  border-bottom: 15px solid red;
  min-height: calc(100% / 3);
  display: flex;
  justify-content: center;

  // nth child selects elements based on their position, 3n will select every 3rd element
  &:nth-child(3n) {
    border-right: 0;
  }

  // // selects the last three elements
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  &:hover {

  background-color: rgba(200, 0, 50, 1);
  }
}

#gamePiece {
  font-size: 80px;
  color: red;
}

.before-sign-buttons {
  background-color: red;

  &:hover {
    background-color: maroon;
  }
}

.during-game-buttons {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.game-button {
  margin: 5px;
  background-color: red;

  &:hover {
    background-color: maroon;
  }
}

#player-game-piece {
  font-size: 50px;
  text-align: center;
}
