@import '~bootstrap/scss/bootstrap';

$brown: #5C2018;
$red: #BC4639;
$blue: #4285F4;
$tan: #F3E0DC;
$dark-tan: #D4A59A;

body {
  background-color: $dark-tan;
}

.game-title {
  text-align: center;
  font-size: 70px;
  font-family: Reggae One;
  color: $tan;
}

.container {
  height: 90vh;
}

.board {
  margin: auto;
  height: 90vh;

  max-height: calc(90vh - 70px);
  max-width: calc(90vh - 70px);

  background-color: $dark-tan;
}

.box {
  align-items: center;
  border-right: 15px solid $red;
  border-bottom: 15px solid $red;
  min-height: calc(100% / 3);
  display: flex;
  justify-content: center;

  // nth child selects elements based on their position, 3n will select every 3rd element
  &:nth-child(3n) {
    border-right: 0;
  }

  // // selects the last three elements
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  &:hover {

  background-color: $brown;
  }
}

#gamePiece {
  font-size: 80px;
  font-family: Reggae One;
  color: $tan;
  text-shadow: 4px 2px rgba(0, 0, 0, .25);
}

.before-sign-buttons {
  background-color: $blue;

  &:hover {
    background-color: $red;
  }
}

.during-game-buttons {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.game-button {
  margin: 5px;
  background-color: $blue;

  &:hover {
    background-color: $brown;
  }
}

#player-game-piece {
  font-size: 50px;
  font-family: Reggae One;
  text-align: center;
  color: $tan;
}

.sign-up-cont {
  display: flex;
  justify-content: center;
}

.sign-in-cont {
  display: flex;
  justify-content: center;
}
